.external-list {
    list-style-type: none;
    color: hwb(222 8% 49%);
    font-family: sans-serif;
}

.external-list {
    font-weight: normal;
    border-style: solid;
    border-color: hsl(0, 0%, 0%);
    border-width: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.external-heading {
    font-weight: normal;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom-style: dotted;
    border-bottom-color: hsl(0, 0%, 0%);
    border-bottom-width: 4px;
}

.external-food-list {
    list-style-type: none;
}