/* Background color of the site */
html {
    background-color: #f0f9f8;
}

/* Site name with borders */
.site-name {
    font-weight: bold;
    background-color: #82bfb7;
    border: 4px solid #f2a2bd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: #003366; 
}

/* Main (global) navigation */
.main-nav {
    background-color: #fed3dd;
    padding: 10px;
    list-style-type: none;
}

/* Local navigation (different color from global nav) */
.local-nav {
    background-color: #c6e6e3;
    padding: 10px;
    list-style-type: none;
}

/* Example text color styling */
p {
    color: #f2a2bd;
}

/* Page Styling */
.page-title {
  font-weight: bold;
  background-color: #82bfb7; /* light teal background */
  border: 3px solid #3399ff; /* slightly darker blue border */
  padding: 10px;
  text-align: center;
  border-radius: 10px; /* rounded corners */
  color: #003366; /* dark navy text for contrast */
}